*{
    user-select: none;
}
.modal-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 1rem);
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal-content {
  position: relative;
  padding: 2rem;
  width: 500px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}

.modal-inner {
  max-width: 400px;
  margin: 0 auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.modal-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-body {
  margin-top: 1.25rem;
}

.modal-label {
  font-weight: 600;
  font-size: 0.875rem;
  color: #4a5568;
  padding-bottom: 0.25rem;
  display: block;
}

.modal-input {
  border: 1px solid #63b3ed;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  width: 100%;
}

.modal-input:focus {
  outline: none; /* Remove focus outline */
}

.modal-footer {
  margin-top: 1.25rem;
}

.modal-button {
  padding: 0.5rem 1rem;
  background-color: #3182ce;
  color: white;
  width: 100%;
  transition: background-color 0.2s ease-in;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.modal-button:hover {
  background-color: #2b6cb0;
}

.modal-button:focus {
  outline: none;
}

.hint {
  display: block;
  font-size: 0.75rem;
  color: #6b7280;
  margin-top: -1rem;
  margin-bottom: 1rem;
}